{# templates/cart/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Giỏ hàng{% endblock %}

{% block body %}
    <h1>Giỏ hàng</h1>

    {% if cartItems is empty %}
        <p>Giỏ hàng của bạn hiện đang trống.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Tổng cộng</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cartItems %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price }} VNĐ</td>
                        <td>{{ item.totalPrice }} VNĐ</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>Tổng cộng: {{ cartTotalPrice }} VNĐ</p>
    {% endif %}
</div>
{% endblock %}